.login_wrapper {
  background: var(--bg-secondary);
}

.login_wrap {
  height: 70vh;
  color: var(--color-primary);
}

.login_1 {
  width: 300px;
  margin: 0 auto;
}

.login_1 span {
  font-size: 20px;
}

.login_2 {
  text-align: center;
}

.login_2_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: var(--bg-primary);
  box-shadow: 0 1px 2px var(--shadow-1);
  padding: 1rem;
  padding-bottom: 2rem;
  width: 350px;
  height: fit-content;
  margin: 1rem auto;
  border-radius: 10px;
}

.login_2_wrap button {
  width: 100%;
  height: 50px;
  font-size: 17px;
  font-weight: 700;
}

.forgot_password {
  color: var(--blue-color);
  font-size: 14px;
  cursor: pointer;
}

.forgot_password:hover {
  text-decoration: underline;
}

.sign_splitter {
  width: 100%;
  height: 1px;
  background: var(--bg-third);
}

.open_signup {
  background: var(--green-color);
  width: 70% !important;
  font-weight: 600 !important;
  font-size: 17px !important;
  margin-top: 1rem !important;
}

.sign_extra {
  font-size: 15px;
}

/* Media Query */
@media (min-width: 850px) {
  .login_wrap {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  .login_1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 15vh;
  }
  .login_1 img {
    width: 300px;
    margin-left: -1.7rem;
  }

  .login_1 span {
    font-size: 20px;
  }
  .login_2_wrap {
    width: 400px;
  }
  .input_wrap {
    width: 360px !important;
  }
}
